/* --- Contenedor Principal (.navbar) --- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px; /* Altura clásica XP */
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    
    /* Gradiente XP: Morado grisáceo a Negro */
    background: linear-gradient(to bottom, 
        #4a3b52 0%,   
        #2e2135 12%,  
        #080808 100% 
    );
    
    border-top: 1px solid #655370; /* Luz borde superior */
    border-bottom: 2px solid #000000; /* Sombra dura abajo */
    
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
    z-index: 1000;
}

/* --- Contenedor de la marca (.navbar-brand) --- */
.navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
    
    /* Separadores verticales estilo XP para darle relieve */
    border-right: 2px solid
}